{% extends 'istekler/base.html' %}

{% block content %}
	<center>
	<h1> {{ name }} {{ month }} {{ year }}</h1>

	<!-- As of {{ time }} -->
	<br/><br/>
	{{ cal|safe }}
	<br/><br/>
</center>
	<h3>Taleplerim</h3>

	{% if event_list %}
		{% for event in event_list %}
		<div class="card">
  <div class="card-header">
    {{ event }}
  </div>
  <div class="card-body">
    <h5 class="card-title">Hastane: {{ event.hastane_adi }}</h5>
    <p class="card-text">
    	<ul>
            <li>Tıbbi malzeme / Ilaç / Aşı: {{ event.tibbi_malzeme_ilac_asi }}</li>
            <li>Kisisel Gereksinimler: {{ event.kisisel_gereksinimler }}</li>
            <li>Kullanıcı : {{ event.kullanici_adi }}</li>
            <li>Hastanenin Altyapı Gereksinimleri / Sorunları: {{ event.hastanenin_altyapi_gereksinimleri_sorunlari }}</li>
            <li>Hastanede Sağlık Çalışanı Gereksinimi : {{ event.hastanede_saglik_calisani_gereksinimi }}</li>
            <li>Temel Gereksinimler: {{ event.temel_gereksinimler }}</li>
            <li>Ailevi Gereksinimler: {{ event.ailevi_gereksinimler }}</li>
            <li>Diğer Gereksinimler: {{ event.diger_gereksinimler }}</li>
            <li>Mesaj Kutusu: {{ event.mesaj_kutusu }}</li>
	</ul>



    </p>
  </div>
  {% if user.is_authenticated %}
    {% if user == event.kullanici_adi %}
      <div class="card-footer text-muted">
        
        <a href="{% url 'istek-guncelle' event.id %}" class="btn btn-outline-secondary btn-sm">Update Event</a>

        <a href="{% url 'istek-sil' event.id %}" class="btn btn-outline-danger btn-sm">Delete Event</a>
        
      </div>
    {% endif %}  
  {% endif %}
</div>
		<br/>
		{% endfor %}

	{% else %}
	Sorry...There are no events this month...
	{% endif %}

	<center>
	<br/><br/><br/><br/>
	Copyright (c) {{ current_year }}

	</center>
{% endblock %}